<div class="exception-body error">

  <div class="ui-g">
    <div class="ui-g-12 logo-container">
      <img src="assets/images/logo.png" alt="sale-app-layout"/>
    </div>
  </div>
  <div class="exception-panel">
    <div class="exception-panel-content error">
      <div class="information-text">
        <h1 class="title">500</h1>
        <span><strong>{{'public.error' | translate}}</strong></span>
        <p>{{'public.backHome' | translate}}</p>
      </div>
    </div>

    <div class="exception-panel-footer">
      <button type="button" pButton label="{{'public.btnBack' | translate}}" [routerLink]="['/']"></button>
    </div>
  </div>
</div>
