//@font-face {
//  font-family: 'Material Icons';
//  font-style: normal;
//  font-weight: 400;
//  src: url('./assets/fonts/MaterialIcons-Regular.eot');
//  src: local('Material Icons'),
//  local('MaterialIcons-Regular'),
//  url('./assets/fonts/MaterialIcons-Regular.woff2') format('woff2'),
//  url('./assets/fonts/MaterialIcons-Regular.woff') format('woff'),
//  url('./assets/fonts/MaterialIcons-Regular.ttf') format('truetype');
//}
//.material-icons {
//  font-family: 'Material Icons';
//  font-weight: normal;
//  font-style: normal;
//  font-size: 24px;
//  display: inline-block;
//  line-height: 1;
//  text-transform: none;
//  letter-spacing: normal;
//  word-wrap: normal;
//  white-space: nowrap;
//  direction: ltr;
//  -webkit-font-smoothing: antialiased;
//  text-rendering: optimizeLegibility;
//  -moz-osx-font-smoothing: grayscale;
//  font-feature-settings: 'liga';
//}
//.material-icons.md-18 { font-size: 18px; }
//.material-icons.md-24 { font-size: 24px; }
//.material-icons.md-36 { font-size: 36px; }
//.material-icons.md-48 { font-size: 48px; }
//.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
//.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }
//.material-icons.md-light { color: rgba(255, 255, 255, 1); }
//.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.input-wrapper{
  position: relative;
  small {
    position: absolute;
    left: 5px;
    bottom: -1.2rem;
  }
}

.normal-dialog {
  width: 50vw;
  .p-dialog-header {
    justify-content: center;
  }
  .p-dialog-header-icons {
    display: none !important;
  }
  .p-dialog-content {
    align-items: initial !important;
  }
  .p-dialog-footer {
    display: flex;
    justify-content: space-between;
    .p-button {
      flex: 1;
    }
    .p-button-icon-left {
      display: none;
    }
  }
  .p-confirm-dialog-accept {
    order: 2;
    background-color: #FEAC3E;
    border: 1px solid #FEAC3E;;
    &:focus, &:hover {
      background-color: #FEAC3E;
    }
  }
  .p-confirm-dialog-reject {
    order: 1;
    background-color: #FFFFFF;
    border: 1px solid #E0E0E0;
    color: black;
    &:focus, &:hover {
      color: black;
      border: 1px solid #E0E0E0;
      background-color: #FFFFFF;
    }
  }
}

.large-dialog {
  .p-dialog-header-icons {
    display: none !important;
  }
}

.p-menuitem-text {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 40em) {
  .normal-dialog {
    width: 85vw;
  }
}

.hour-only .p-minute-picker button, .hour-only .p-second-picker button {
  visibility: hidden;
}

.split-horizontal {height: 1px;background: #e0e0e0;margin: 15px 0;width: 100%;}
.split-horizontal-no-line {height: 1px;margin: 15px 0;width: 100%;}
.split-header-panel {height: 1px;background: #e0e0e0;margin-bottom: 20px;width: 100%;}

.indicator {
  background-color: rgba(#ffffff, 0.8);
  z-index: 3000;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &.load-failed{
    height: 100%;
  }
}

.invisible {
  visibility: hidden;
}

.p-field > label {
  font-weight: 700;
}

.text-primary {
  color: #022A79;
  &.in-active {
    opacity: 0.7;
  }
}
.p-button.p-button-link, .p-button.p-button-link:enabled:hover{
  color: #022A79;
}

.detail {
  font-size: 1.1rem;
  .title-left {
    font-weight: bold;
  }
  .title-right {
    list-style: none;
    border: 1px solid #c5c5c5;
    padding: 1rem;
    opacity: 1;
    max-height: 600px;
    overflow: auto;
    border-radius: 4px;
    margin-top: 5px;
    min-height: 48px;
    background-color: #F7F7F7;
    li:not(:first-child) {
      margin-top: 0.5rem;
    }
  }
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  > table {
    border-collapse: collapse;
    max-width: 100%;
    margin-bottom: 0.5rem;
    background-color: transparent;
  }
}

.exception-body {
  background-image: url("./assets/images/bg-logo-full.png") !important;
}

.layout-topbar-menu-wrapper .fix-label .p-button-label {
  display: none;
}

.indicator-routing {
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
}

.p-toast-message-text {
  width: min-content;
}

.global-indicator {
  position: fixed;
  width: calc(100% - 270px);
}

.layout-static-inactive .global-indicator {
  width: 100%;
}

.border-none-custom {
  border: none!important;
}
.p-treetable .p-treetable-tbody>tr>td {
  border-width: 1px 0 1px 0!important;
}

#pageTrackingNews .p-paginator {
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  .p-paginator-current {
    min-width: 100% !important;
    justify-content: flex-start;
  }
}
#customRepInput {

  flex-wrap: wrap;

  .p-inputgroup-addon{
    height: 38px;
    border-left: none;
    color: #022A79;
  }
  input {
    border-right: none;
    border-color: rgba(0,0,0,0.38) ;
    box-shadow: none;
    outline: none;
    border-width: 1px;
    &:focus, &:hover {
      box-shadow: none;
      border-width: 1px;
      border-color: rgba(0,0,0,0.38);
    }
  }
}
#customCommentInput  {

  flex-wrap: wrap;

  .p-inputgroup-addon{
    height: 38px;
    border-left: none;
    color: #022A79;
  }
  input {
    border-right: none;
    border-color: rgba(0,0,0,0.38) !important;
    &:focus, &:hover {
      box-shadow: none;
      border-color: rgba(0,0,0,0.38);
    }
  }
}

#imgCmtPreview, .docs-preview, #imgRepPreview {
  width: 100%;
  border: 1px solid #bbb;
  background-color: #fff;
  border-radius: 4px;
  position: relative;

  img {
    width: 100%;
    border-radius: 4px
  }

  .img-action {
    position: absolute !important;
    right: 5px;
    bottom: 5px;

  }
  .btn-action {
    border: 1px solid rgb(242, 242, 242);
    color: #ffffff;
    background: rgb(165 165 165);
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    width: 35px;
    height: 35px;
    opacity: 0.8;
  }
}

#userCheckBoxCustom {
  background-color: transparent;
  color: #022A79;
  border: 1px solid;
  margin: 0;
  display: inline-flex;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  vertical-align: bottom;
  text-align: center;
  overflow: hidden;
  position: relative;

  padding: 0.714rem 1rem;
  font-size: 1rem;
  transition: background-color .2s,border-color .2s,color .2s,box-shadow .2s,background-size 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
  border-radius: 4px;
  .p-checkbox-box {
    border-color: #022A79 !important;
  }
}
.custom-title {
  text-transform: uppercase;
  color: #462574; font-weight: bold;
}

#qnaModalTable, #insuranceExport {
  .p-dialog-mask {
    overflow-y: auto;
  }

  .p-dialog-content {
    overflow-y: visible;
  }
}
#tableInsurance {
  border-collapse: collapse;
  border: 1px solid black;
  th, td {
    border: 1px solid black;
    padding: 10px 0 10px 22px;
  }
}
